<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">  <!-- for methods to run parallely, you can use parallel="methods" attribute-->

  <test thread-count="5" name="Submit Order Test">
    <classes> <!-- thread count=5 indicates it runs maximum of 5 methods parallely in that class-->
      <class name="AutomationTesting.tests.SubmitOrderTest"/>
    </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="Error Validations Test">
    <classes>
      <class name="AutomationTesting.tests.ErrorValidationsTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
